@model IEnumerable<TripApplication.Models.DestinationDto>
@{
    ViewBag.Title = "List of destinations";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h2 class="text-center">List of destinations</h2>
        <div class="text-right"><a class="btn btn-default btn-custom" href="/Destination/New" role="button">New Destination</a></div>
        @foreach (var destination in Model)
        {
            <div class="list-group text-center">
                <a href="/Destination/Details/@destination.DestinationID" class="list-group-item">
                    <h4 class="list-group-item-heading">@destination.DestinationName</h4>
                    <p class="list-group-item-text">@destination.DestinationCountry</p>
                </a>
            </div>
        }
    </div>
</div>